@model IEnumerable<CardGame.Web.Models.Deckbuilder>

@{
    ViewBag.Title = "View";
}

<div class="scroller row col-lg-6 col-md-6 col-sm-6 col-xs-6">

    <h2>Your Deck</h2>
        @foreach (var card in Model)
            {
                if (card.Pic != null)
                {
                    var base64 = Convert.ToBase64String(card.Pic);
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                <div class="col-md-2">
                    <img src="@imgSrc" id="cardPic" alt="Image" class="img-responsive" />
                </div>
            }
        }  
</div>


<div class="scroller-seite-zwei row col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h2>Your Collection</h2><br>
</div>








