@model IEnumerable<CardGame.Web.Models.Deck>

@{
    ViewBag.Title = "DeckOverview";
}

<div class="scroller row col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h2>DeckOverview</h2>

    <h4>You currently have @Model.ToList().Count decks</h4>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(d => d.Name)
            </th>
            <th>
                <br />
            </th>
        </tr>
        
        @foreach (var deck in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(d => deck.Name)
                </th>
                <th>
                    @Html.ActionLink("View Deck", "EditDeck", new { id = deck.ID })
                    @*@Html.ActionLink("View Deck", "DeckDetails", "EditDeck", new { id = 22 })*@
                </th>
            </tr>
            
        }
    </table>
</div>
