
<div class="scroller row col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h3>Überschrift linke seite</h3><br>
    <br />
    <p>
        Es ist ein Fehler aufgetreten !!!
    </p>
    <br />
    <p>
        Bitte erneut einloggen oder registrieren ...
    </p>
    <br />
    <p><input type="button" class="btn btn-info" value="Zurück" onclick="location.href='@Url.Action("Register", "Account")'" /></p>
</div>
