@model CardGame.Web.Models.User

@{
    ViewBag.Title = "VerifyRegistration";
}


<div class="scroller row col-lg-6 col-md-6 col-sm-6 col-xs-6">

    <div class="layout-background" id="wood_background">
        <h1>Welcome</h1>
        <br />
        <h2>@ViewBag.Gamertag</h2>
        <br />
        <p>You are successfully registrated</p>
        <hr />
        <br />
        <p>You got @ViewBag.CurrencyBalance <img src="~/Content/Images/diamond.png" alt="diamond" height="60" width="60" /> diamonds</p>
        <p>for your shopping tour ...</p>
        <br />
        <p>Please Login to get the full Shop-Expirience</p>
        <input type="button" class="btn btn-info" value="Login" onclick="location.href='@Url.Action("Login", "Account")'" />
        <br />
        @*<p>Do you want to change your Profile ...</p>
        <input type="button" class="btn btn-info" value="Edit Profile" onclick="location.href='@Html.ActionLink("Edit", "Edit")'" />*@
    </div>

</div>



