@model CardGame.Web.Models.Register

@{
    ViewBag.Title = "VerifyRegistration";
}

<body>
    <div class="booklets" id="background">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 side" id="left">
                <div class="panell" id="backgroundleft">
                    <div class="layout-background" id="wood_background">
                        <h2>Welcome</h2>
                        <h2>@ViewBag.Gamertag</h2>
                        
                        <input type="button" class="btn btn-info" value="Sign-Up" onclick="location.href='@Url.Action("Login", "Account")'" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 side" id="left">
                <div class="panell" id="backgroundright">
                    <div class="layout-background" id="wood_background">


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



