@model IEnumerable<CardGame.Web.Models.Cart>

@{
    ViewBag.Title = "_Cardpacks";
}

<div class="">

    @foreach (var cp in Model)
    {
        <div class="packages-shopstart row col-md-12">
            <hr />
            <div class="col-sm-6">
                <img src="~/Content/Images/pack1.png" alt="" height="120" width="90" />

                @*<div id=@Model.  ondrop="drop(event)" ondragover="allowDrop(event)">
                    <img src="~/Content/Images/pack1.png" draggable="true" ondragstart="drag(event)" id="drag1" width="60" height="100">
                </div>*@

            </div>
            <br />
            <div class="col-sm-6">

                Pack @Html.DisplayFor(CardPacks => cp.Packname)
                <br />
                Cards inside @Html.DisplayFor(CardPacks => cp.CardQuantity)
                <br />
                Price @Html.DisplayFor(CardPacks => cp.Packprice) <img src="~/Content/Images/diamond.png" alt="diamond" height="25" width="25" />
            </div>
            <br />
        </div>
    }
</div>
