@{
    ViewBag.Title = "NotEnoughBalance";
}

<h2>NotEnoughBalance</h2>

<input type="button" class="btn btn-info" value="Go back" onclick="location.href='@Url.Action("Shop", "Shop")'" />

<input type="button" class="btn btn-info" value="Buy Diamonds" onclick="location.href='@Url.Action("Shop", "Shop")'" />