@model CardGame.Web.Models.Shop


@{
    ViewBag.Title = "Packages";
}

<body>
    <div class="booklets" id="background">
        <div class="row col-xs-12 col-sm-6 col-md-6 side" id="left">


                            @Html.Partial("_Orderdetails", Model.order)

                        <input type="button" class="btn btn-info" value="Go to Shop" onclick="location.href='@Url.Action("Shop", "Shop")'" />
                    </div>
        <div class="col-xs-12 col-sm-6 col-md-6 side" id="right">

            @Html.Partial("_Cardpacks", Model.cardPacks)
        </div>
    </div>



</body>


