
@{
    ViewBag.Title = "Shop";
}

<h2>Shop</h2>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="btn btn-info" role="button">Register</a></li>
                    <li><a href="#" class="btn btn-info" role="button">Login</a></li>
                    <li><a href="#" class="btn btn-info" role="button">About</a></li>
                    <li><a href="#" class="btn btn-info" role="button">Shop</a>
                    <li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" id="background">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 side" id="left">
                <div class="panell" id="backgroundleft">
                    <div class="layout-background" id="wood_background">
                        <p>ADS</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 side" id="left">
                <div class="panell" id="backgroundright">
                    <div class="layout-background" id="wood_background">

                        <p>ADS</p>


                            <div class="form-group">
                                <button type="submit" class="btn btn-submit">Sign Up</button>
                            </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
