@model CardGame.Web.Models.Shop

@{
    ViewBag.Title = "View";
}


<body>
    <div class="booklets" id="background">
        <div class="row col-md-12">
            <div class="col-sm-6 col-md-6 side" id="left">
                <div class="panell" id="backgroundleft">
                    <div class="layout-background" id="wood_background">
                        @{if (User.Identity.Name == "")
                            {
                                <h1>Welcome</h1>
                            }
                            else
                            {
                                <h2> Welcome</h2>
                                <h2>@ViewBag.Gamertag</h2>
                                <h2>the shop is open ...</h2>

                            }
                        }

                        @{
                            if (User.IsInRole("player"))
                            {
                                <h4>Your current status is @ViewBag.Role</h4>
                            }
                        }

                        <p>select your package by Drag & Drop the image</p>
                        <br />

                        @*<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <img src="~/Content/Images/pack1.png" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="155">
                        </div>*@

                        <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <br />

                        <div id="div3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <br />

                        <div id="div4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <br />

                        @*<input type="button" class="btn btn-info" value="Buy Pack" onclick="location.href='@Url.Action("Shop","Shop")'" />*@
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 side" id="right">
                @Html.Partial("_Cardpacks", Model.cardPacks)
            </div>
    </div>
</div>
</body>
